.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

#commongBG,
#Team,
.btn {
    background-color: #1d9d77 !important;
    border: none !important;
    outline: none !important;
}

.footerColor a {
    color: #1d9d77;
}

a {
    color: #000000 !important;
}

.navbar #myMenu .custom-nav .nav-item a {
    color: #fff;
}

.navbar #myMenu .custom-nav .nav-item a:hover {
    color: #F0AAB1;
}


/* Make Header Image Responsive */

.back-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 70vh;
    border-radius: 0px;
}

.st {
    font-size: 24px;
}

a {
    color: #DC3545;
}

a:hover {
    color: #E994A2;
}

.back-image {
    background-image: url('./assets/Banner.jpeg');
}

.textBanner {
    margin-top: 120px;
}